@use '../variables'

.container
  display: flex
  flex-direction: column
  align-items: center
  position: relative

#sidebar
  display: flex
  justify-content: space-between
  gap: 10%
  align-items: center
  background-color: transparent
  margin-left: 42%
  margin-right: auto
  position: absolute
  margin-top: 29vw
  

  .menu
    padding: .2rem
    font-size: .8vw
    text-align: center
    text-decoration: none
    color: #1D2E5E
    transition: color 0.3s
    // background-color: red
    &:hover
      color: #fbf8f8

#main-page
  background-color: variables.$bg-color
  flex: 1 1 0
  border-radius: variables.$container-border-radius
  padding: 0
  margin: 0
  width: auto

.title
    color: #1D2E5E 
    padding: 2vw
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    font-family: 'Staatliches', cursive

form
    margin: 2rem auto
    display: flex
    flex-direction: column
    width: 100%
    max-width: 425px
    background-color: #f9f8f8
    border-radius: 10px
    box-shadow: 0 10px 20px 0 rgba(#999, .25)
    padding: .75rem

    input
        display: flex
        flex-direction: column-reverse
        position: relative
        padding-top: 1.5rem
        padding-bottom: 1.5rem
        padding-left: 1rem
        border: none
        border-radius: 0
        border-bottom: 1px solid #95cad935
        outline: none
        
    

input::placeholder 
  color: #1D2E5E
  font-family: 'Staatliches', cursive
  font-size: 1rem
  

  

#submit-btn
  color: white
  margin-top: 1vw
  background: #20ADCA
  width: 100%
  height: 3rem
  border-radius: 15px
  cursor: pointer
  font-weight: 500
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white
  transition: 0.5s
 
    
.events-grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 20px

.event
  padding: 20px
  background-color: #f5f5f5
  border-radius: 10px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

.event-name
  font-size: 20px
  color: #333
  margin-bottom: 10px

.event-info
  font-size: 14px
  color: #666
  margin-bottom: 5px

  
    
.person-grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 20px

.person
  padding: 20px
  background-color: #f5f5f5
  border-radius: 10px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

.person-name
  font-size: 20px
  color: #333
  margin-bottom: 10px

.person-info
  font-size: 14px
  color: #666
  margin-bottom: 5px
