$font-stack: "Helvetica"
$text-color: #fff
$text-color-secondary: #23376B
$body-bg-color:  #FFCE3D
$bg-color: #ecf4fa
$bg-color-secondary:  #f7d87d
$container-border-radius: 10px
$card-border-radius: 5px

